body {
    margin: 0;
    /* overflow: hidden; */
    background-color: darkslategray;
}

canvas {
    background-color: darkslategray;
}

.logo{
    position: absolute;
    color: black;
    top: 0px;
    margin : 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    float:left;
    margin-right: 15px;
}

.logo > img {
    opacity: 0.8;
    height: 75%;
    width: 75%;
}
