body {
    margin-left: 25px;
    margin-right: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffbd4a;
}

header {
    font-weight: bold;
}

#copyright {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size:small;
}

.logo {
    float:left;
    margin-right: 15px;
}

.logo > img {
    height: 80px;
    width: 80px;
}

canvas {
    border: 1px solid black;
}